/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

section {
    padding: 20px;
}

/* Estilos específicos para projetos */
.project {
    text-align: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
}

.project img {
    max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.course {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.course h2 {
    margin: 0;
    font-size: 20px;
}

.course p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

/* Estilos para rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos para links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.perfil {
    text-align: center;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.perfil img {
    max-width: 100%;
    border-radius: 300px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para os cards */
.card img {
    max-width: 100%;
    max-height: 280px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
    /* Ampliar o card em 10% quando o mouse passar por cima */
}

#sobre {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;


}


h1,
h2 {
    color: #333;
}